.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #63c066;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .linkendin:hover {
    background-color: #b05151;
  }

  .git {
    width: 100%;
    padding: 10px;
    background-color: #7b4304;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .git:hover {
    background-color: #eabe5e;
  }

  .email {
    width: 100%;
    padding: 10px;
    background-color: #39abf7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .email:hover {
    background-color: #2471f7;
  }

  button:hover {
    background-color: #588ffb;
  }